[Unit]
Description=Mini-XR Routing Information Base
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
ExecStart=/home/vcti/mini-xr/ribd/ribd
Restart=always
RestartSec=2
User=vcti
WorkingDirectory=/home/vcti/mini-xr
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
